[tool.poetry]
name = "multidimio"
version = "0.2.7"
description = "Cloud-native, scalable, and user-friendly multi dimensional energy data!"
authors = ["TGS <sys-opensource@tgs.com>"]
maintainers = [
    "Altay Sansal <altay.sansal@tgs.com>",
    "Sri Kainkaryam <sribharath.kainkaryam@tgs.com>",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://mdio.dev"
repository = "https://github.com/TGSAI/mdio-python"
documentation = "https://mdio-python.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
]
packages = [
    { include = "mdio", from = "src" },
]
keywords = ["mdio", "multidimio", "seismic", "wind", "data"]

[tool.poetry.urls]
Changelog = "https://github.com/TGSAI/mdio-python/releases"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
click = "^8.1.3"
click-params = "^0.3.0"
zarr = "^2.12.0"
dask = ">=2022.11.0"
tqdm = "^4.64.0"
segyio = "^1.9.3"
numba = ">=0.55.2,<1.0.0"
psutil = "^5.9.1"
distributed = {version = ">=2022.11.0", optional = true}
bokeh = {version = "^2.4.3", optional = true}
s3fs = {version = "^2022.7.0", optional = true}
gcsfs = {version = "^2022.7.0", optional = true}
adlfs = {version = "^2022.7.0", optional = true}
zfpy = {version = "^1.0.0", optional = true}

[tool.poetry.extras]
distributed = ["distributed", "bokeh"]
cloud = ["s3fs", "gcsfs", "adlfs"]
lossy = ["zfpy"]

[tool.poetry.group.dev.dependencies]
black = "^22.6.0"
coverage = {version = "^6.4.4", extras = ["toml"]}
darglint = "^1.8.1"
flake8 = "^5.0.0"
flake8-bandit = "^4.0.0"
flake8-bugbear = "^22.8.22"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"
furo = "^2022.6.21"
isort = "^5.10.1"
mypy = "^0.971"
pep8-naming = "^0.13.2"
pre-commit = "^2.20.0"
pre-commit-hooks = "^4.3.0"
pytest = "^7.1.2"
pyupgrade = "^2.37.3"
safety = "^2.1.1"
sphinx-autobuild = "^2021.3.14"
sphinx-click = "^4.3.0"
sphinx-copybutton = "^0.5.0"
typeguard = "^2.13.3"
xdoctest = {version = "^1.0.2", extras = ["colors"]}
myst-parser = "^0.18.0"
Pygments = "^2.13.0"
Sphinx = "^5.1.1"

[tool.poetry.group.interactive]
optional = true

[tool.poetry.group.interactive.dependencies]
matplotlib = "^3.6.1"
jupyterlab = "^3.5.0"
dask-labextension = "^6.0.0"
ipympl = "^0.9.2"

[tool.poetry.scripts]
mdio = "mdio.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["mdio", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 80

[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = ["segyio", "zarr"]
ignore_missing_imports = true


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
