[tool.poetry]
name = "multidimio"
version = "0.8.2"
description = "Cloud-native, scalable, and user-friendly multi dimensional energy data!"
authors = ["TGS <sys-opensource@tgs.com>"]
maintainers = [
    "Altay Sansal <altay.sansal@tgs.com>",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://mdio.dev"
repository = "https://github.com/TGSAI/mdio-python"
documentation = "https://mdio-python.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
]
packages = [
    { include = "mdio", from = "src" },
]
keywords = ["mdio", "multidimio", "seismic", "wind", "data"]

[tool.poetry.urls]
Changelog = "https://github.com/TGSAI/mdio-python/releases"

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
click = "^8.1.7"
click-params = "^0.5.0"
zarr = "^2.18.2"
dask = ">=2024.8.0"
tqdm = "^4.67.0"
psutil = "^6.1.0"
fsspec = ">=2024.10.0"
segy = "^0.3.0"
rich = "^13.9.4"
urllib3 = "^1.26.18" # Workaround for poetry-plugin-export/issues/183

# Extras
distributed = {version = ">=2024.8.0", optional = true}
bokeh = {version = "^3.4.3", optional = true}
s3fs = {version = ">=2024.10.0", optional = true}
gcsfs = {version = ">=2024.10.0", optional = true}
adlfs = {version = ">=2024.7.0", optional = true}
zfpy = {version = "^0.5.5", optional = true}

[tool.poetry.extras]
distributed = ["distributed", "bokeh"]
cloud = ["s3fs", "gcsfs", "adlfs"]
lossy = ["zfpy"]

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
coverage = {version = "^7.6.7", extras = ["toml"]}
darglint = "^1.8.1"
flake8 = "^7.1.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^24.4.26"
flake8-docstrings = "^1.7.0"
flake8-rst-docstrings = "^0.3.0"
furo = ">=2024.8.6"
isort = "^5.13.2"
mypy = "^1.13.0"
pep8-naming = "^0.14.1"
pre-commit = "^4.0.1"
pre-commit-hooks = "^5.0.0"
pytest = "^8.3.3"
pytest-dependency = "^0.6.0"
pyupgrade = "^3.19.0"
safety = "^3.2.3"
sphinx-autobuild = ">=2024.10.3"
sphinx-click = "^6.0.0"
sphinx-copybutton = "^0.5.2"
typeguard = "^4.4.1"
xdoctest = {version = "^1.2.0", extras = ["colors"]}
myst-parser = "^3.0.1"
Pygments = "^2.18.0"
Sphinx = "^7.4.7"

[tool.poetry.scripts]
mdio = "mdio.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["mdio", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 80

[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = ["zarr"]
ignore_missing_imports = true


[build-system]
requires = ["poetry-core", "fastentrypoints"]
build-backend = "poetry.core.masonry.api"
