[tool.poetry]
name = "multidimio"
version = "0.7.2"
description = "Cloud-native, scalable, and user-friendly multi dimensional energy data!"
authors = ["TGS <sys-opensource@tgs.com>"]
maintainers = [
    "Altay Sansal <altay.sansal@tgs.com>",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://mdio.dev"
repository = "https://github.com/TGSAI/mdio-python"
documentation = "https://mdio-python.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
]
packages = [
    { include = "mdio", from = "src" },
]
keywords = ["mdio", "multidimio", "seismic", "wind", "data"]

[tool.poetry.urls]
Changelog = "https://github.com/TGSAI/mdio-python/releases"

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
click = "^8.1.7"
click-params = "^0.5.0"
zarr = "^2.16.1"
dask = ">=2023.10.0"
tqdm = "^4.66.1"
segyio = "^1.9.3"
numba = "^0.59.0"
psutil = "^5.9.5"
fsspec = ">=2023.9.1"
rich = "^13.7.1"
urllib3 = "^1.26.18" # Workaround for poetry-plugin-export/issues/183

# Extras
distributed = {version = ">=2023.10.0", optional = true}
bokeh = {version = "^3.2.2", optional = true}
s3fs = {version = ">=2023.5.0", optional = true}
gcsfs = {version = ">=2023.5.0", optional = true}
adlfs = {version = ">=2023.4.0", optional = true}
zfpy = {version = "^0.5.5", optional = true}

[tool.poetry.extras]
distributed = ["distributed", "bokeh"]
cloud = ["s3fs", "gcsfs", "adlfs"]
lossy = ["zfpy"]

[tool.poetry.group.dev.dependencies]
black = "^23.12.1"
coverage = {version = "^7.4.0", extras = ["toml"]}
darglint = "^1.8.1"
flake8 = "^7.0.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^23.12.2"
flake8-docstrings = "^1.7.0"
flake8-rst-docstrings = "^0.3.0"
furo = ">=2023.9.10"
isort = "^5.13.2"
mypy = "^1.8.0"
pep8-naming = "^0.13.3"
pre-commit = "^3.6.0"
pre-commit-hooks = "^4.5.0"
pytest = "^7.4.4"
pyupgrade = "^3.15.0"
safety = "^2.3.5"
sphinx-autobuild = "^2021.3.14"
sphinx-click = "^5.1.0"
sphinx-copybutton = "^0.5.2"
typeguard = "^4.1.5"
xdoctest = {version = "^1.1.2", extras = ["colors"]}
myst-parser = "^2.0.0"
Pygments = "^2.17.2"
Sphinx = "^7.2.6"

[tool.poetry.scripts]
mdio = "mdio.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["mdio", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 80

[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = ["segyio", "zarr"]
ignore_missing_imports = true


[build-system]
requires = ["poetry-core", "fastentrypoints"]
build-backend = "poetry.core.masonry.api"
